body {
    font-family: "Montserrat", sans-serif;
    background-color: #fff;
    
}

.header {
    max-width: 1140px;
    margin: 0 auto;
}

/* Header */

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0 10px;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin-left: 10px;
    width: 97px;
    height: 30px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-list {
    align-items: center;
    display: flex;
    list-style-type: none;
    gap: 54px;
    padding: 0;
    margin: 0;
}

.navigation__item {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 10px;
    color:#2B3541;
    transition: 0.2s;
}

.navigation__item:hover{
    border-bottom: 1px solid #2B3541;
    transition: 0.2s;
}

.navigation-icons {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style-type: none;
    padding: 0;
}

.navigation-icons__inst {
    background-image: url(../images/instagram.svg);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    transition: 0.5s;
}

.navigation-icons__inst:hover {
    transform: scale(1.5);
    transition: 0.5s;
}

.navigation-icons__fb {
    background-image: url(../images/facebook.svg);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    transition: 0.5s;
}

.navigation-icons__fb:hover {
    transform: scale(1.5);
    transition: 0.5s;
}

/* Main */

.banner { 
    position: relative;
    margin-top: 25px;
    min-height: 860px;
}

.banner-container {
    position: relative;
}

.banner-content {
    display: block;
    max-width: 676px;
    padding-left: 30px;
}

.banner__title {
    margin: 0;
    font-weight: 700;
    padding-top: 230px;
    font-size: 40px;
    color: #2b3541;
    line-height: 125%;
}

.menu__title {
    padding-top: 70px;
    margin: 0;
    font-weight: 400;
    font-size: 40px;
    color: #2b3541;
}

.menu {
    display:block;
}

.menu__text {
    padding-bottom: 50px;
    padding-top: 30px;
    margin: 0;
    line-height: 150%;
    font-size: 18px;
    color: #2b3541;
}

.menu__link {
    background-color: #fbf138;
    color: #2b3541;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 30px;
    border: 1px solid #fbf138;
}

.menu__link:hover {
    background-color: #2b3541;
    color: #fbf138;
    border-color: #2b3541;
    transition: 0.5s; 
}

.box {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 0;
    z-index: -1;
    right: 75px;
}

.box-left {
    background: #fbf138;
    opacity: 0.2;
    width: 535px;
    height: 850px;
    background: linear-gradient(
        90deg,
        #fbf138 0%,
        rgba(253, 249, 182, 0.45) 145.23%
    );
}

.box-right {
    background: #fbf138;
    opacity: 0.2;
    width: 235px;
    height: 850px;
    background: linear-gradient(
        90deg,
        #fbf138 0%,
        rgba(253, 249, 182, 0.45) 145.23%
    );
}

.box__img {
    position: absolute;
    background-position: 0 center;
    top: 5px;
    right: -75px; 
}

.event {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: 80px;
    margin-bottom: 100px;
}

.event__title {
    font-size: 40px;
    font-weight: bold;
    color: #2b3541;
}

.event-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.event-group {
    background-image: url(../images/event1.jpg);
    width: 367px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.event-group--trainer {
    background-image: url(../images/event2.jpg);
    width: 367px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.event-group--yoga {
    background-image: url(../images/event3.jpg);
    width: 367px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.event-gradient {
    background: linear-gradient(
        180deg,
        rgba(251, 241, 56, 0.3) 0%,
        rgba(253, 249, 182, 0) 100%
    );
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.2s;
}
.event-gradient:hover {
    background: linear-gradient(
        180deg,
        rgba(251, 241, 56, 0.6) 0%,
        rgba(253, 249, 182, 0) 100%
    );
}

.event__data {
    padding-top: 28px;
    padding-left: 30px;
    margin: 0;
    font-size: 18px;
    line-height: 150%;
    color: #2b3541;
    opacity: 0.6;
    font-weight: 700; 
}

.event__name {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 30px;
    font-size: 28px;
    font-weight: 700;
    color: #2b3541;
}

.event__link {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #2b3541;
    background-color: #fbf138;
    padding: 20px 35px;
    margin-left: 30px;
    opacity: 0;
}

.event__link:hover {
    color: #fbf138;
    background-color: #2b3541;
}

.event__button {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #fbf138;
    border: none;
    padding: 10px 20px;
    margin-bottom: 0;
}

.event-gradient:hover > .event__button {
    display: none;
    transition: 0.5s;
}
.event-gradient:hover > .event__link{
    opacity: 1;
    text-decoration: none;
    transition: 0.5s;
}

.description {
    position: relative;
    width: 100%;
    margin-bottom: 70px;
}

.description-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px 60px 90px 280px;
    gap: 20px;
}

.description-box:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.description-box:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}
.description-box:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}
.description-box:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}

.description-box:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
.description-box:nth-child(6) {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
}

.description-box:hover {
    background: linear-gradient(
        180deg,
        rgba(251, 241, 56, 0.6) 0%,
        rgba(253, 249, 182, 0.45) 100%
    );
    box-shadow: 0px 4px 30px rgba(43, 53, 65, 0.2);
    border: 1px solid #ffffff;
    transition: 0.5s;
}

.description-box {
    border: 1px solid #c2c2c2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description__date {
    display: block;
    color: #010101;
    text-align: right;
    font-size: 18px;
    font-weight: normal;
    margin-right: 30px;
    margin-top: 40px;
}

.description-container {
    flex-direction: column;
    justify-content: end;
}

.description__img {
    margin-top: -3px;
    margin-left: 30px;
}

.description__title {
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-left: 30px;
}

.description__text {
    margin-left: 30px;
    color: #2B3541;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    overflow: hidden;
}
